<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app_reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/slideshow.css">
    <link rel="stylesheet" href="/styles/social.css">
    <!--STYLES END-->
  </head>
<div class="app-wrap">
<div class="header lowercase">
  		<div class="top-header">
  			<div class="top-header-one">
  				<div class='call-us-icon'>Call Us</div><div class="call-us">Call 1.555.555.5555</div>
  				<div class='top-menu lowercase' id='top-menu'>
  					<ul>
  						<li id='templates'><a href="/">Templates /</a></li>
  						<li id='faq'><a href="/">Faq /</a></li>
  						<li id='contact'><a href="/contact">Contact</a></li>
  					</ul>
  				</div>
  			</div>
  			<div class="top-header-two">
  				<div class='customer-account-icons'>
            <ul>
              <li id="sign-on"><a href="/">Sign On</a></li>
              <li id="my-account"><a href="/">My Account</a></li>
              <li id="shopping-cart"><a href="/">Shopping Cart</a></li>
  				</div>
  			</div>
  		</div>
  		<div class="bottom-header">
        <div class="bottom-header-one">
  			<div class="logo">
  			  <a href="/">TX Print Co.</a>
        </div>
      </div>
      <div class="bottom-header-two">
  			<div class="main-menu lowercase">
  				<ul>
  					<li id='item-1'><a href="/">All Products</a></li>
  					<li id='item-2'><a href="/">Marketing Materials</a></li>
  					<li id='item-3'><a href="/">Signs &amp; Posters</a></li>
  					<li id='item-4'><a href="/">Stationary</a></li>
  				</ul>
  			</div>
      </div>
      </div>
</div>
<div class="content-body">
      <%- body %>
</div>
<div class="footer">
  <div class="menus">
	<div class="footer-one menu lowercase">
		<h5>Customer Support</h5>
		<ul>
				<li class='item-1'><a href="/">Track your order</a></li>
				<li class='item-2'><a href="/">Returns</a></li>
				<li class='item-3'><a href="/">Shipping &amp; Delivery</a></li>
				<li class='item-4'><a href="/">Contact Us</a></li>
				<li class='item-5'><a href="/">Sitemap</a></li>
			</ul>
		</div>
		<div class="footer-two menu lowercase">
			<h5>About TxPrintCo</h5>
			<ul>
				<li class='item-1'><a href="/">About</a></li>
				<li class='item-2'><a href="/">Faqs</a></li>
				<li class='item-3'><a href="/">Templates</a></li>
				<li class='item-4'><a href="/">Blog</a></li>
			</ul>
		</div>
	  <div class="footer-three menu lowercase">
			<h5>Legal Stuff</h5>
			<ul>
				<li class='item-1'><a href="/">Privacy Policy</a></li>
				<li class='item-2'><a href="/">Terms and conditions</a></li>
			</ul>
		</div>
		<div class="footer-four menu">
      <h5>Social Media</h5>
			<ul>
				<li class='item-1'>Facebook</li>
				<li class='item-2'>Twitter</li>
				<li class='item-3'>Instagram</li>
				<li class='item-4'>Google Plus</li>
      </ul>
		</div>
  </div>
	<div class="footer-bottom">
		<div class="footer-one">
			<div class="footer-message">Copyright &copy; 2015 TxPrintCo. All rights reserved.</div>
		</div>
		<div class="footer-two">
			<div class="payment-options">
				<ul>
					<li class='discover'>Discover</li>
					<li class='visa'>Visa</li>
					<li class='american-express'>American Express</li>
					<li class='mastercard'>Master Card</li>
					<li class='paypal'>Paypal</li>
        </ul>
			</div>
		</div>
	</div>
</div>
</div>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/underscore-min.js"></script>
    <script src="/js/dependencies/backbone-min.js"></script>
    <script src="/js/dependencies/jquery.equalheights.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/models/product.js"></script>
    <script src="/js/appFrame.js"></script>
    <script src="/js/equal-heights.js"></script>
    <script src="/js/home-slideshow.js"></script>
    <script src="/js/product-filters.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
