<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app_reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/social.css">
    <!--STYLES END-->
  </head>
<div class="header">
  	<div class="page">
  		<div class="top-header">
  			<div class="top-header-one">
  				<div class='call-us-icon'></div><div class="call-us"><Call 1.555.555.5555</div>
  				<div class='top-menu' id='top-menu'>
  					<ul id='top-menu-items'>
  						<li id='templates'>templates</li>
  						<li id='faq'>faq</li>
  						<li id='contact'>contact</li>
  					</ul>
  				</div>
  			</div>
  			<div class="top-header-one">
  				<div class='customer-account-icons'>
  				</div>
  			</div>
  		</div>
  		<div class="header"></div>
  			<div class="logo">
  				<a href="/" rel="home">
  					<img src="txprintco-logo.png" alt="logo" id="logo"></div>
  				</a>
  			<div class="menu">
  				<ul id='main-menu'>
  					<li id='item-1'>All Products</li>
  					<li id='item-2'>Marketing Materials</li>
  					<li id='item-3'>Signs & Posters</li>
  					<li id='item-4'>Stationary</li>
  				</ul>
  			</div>
</div>
    <div class="app-wrap">
      <%- body %>
    </div>
<div class="footer">
	<div class="footer-one menu">
		<ul id='customer-support-menu'>
				<h5>Customer Support</h5>
				<li class='item-1'>Track your order</li>
				<li class='item-2'>Returns</li>
				<li class='item-3'>Shipping & Delivery</li>
				<li class='item-4'>Contact Us</li>
				<li class='item-5'>Sitemap</li>
			</ul>
		</div>
		<div class="footer-two menu">
			<ul id='about-txprintco-menu'>
				<h5>About TxPrintCo</h5>
				<li class='item-1'>About</li>
				<li class='item-2'>Faqs</li>
				<li class='item-3'>Templates</li>
				<li class='item-4'>Blog</li>
			</ul>
		</div>
	  <div class="footer-three menu">
			<ul id='legal-stuff-menu'>
				<h5>Legal Stuff</h5>
				<li class='item-1'>Privacy Policy</li>
				<li class='item-2'>Terms and Conditions</li>
			</ul>
		</div>
		<div class="footer-four menu">
			<ul id='social-media-icons'>
				<h5>Social Media</h5>
				<li class='item-1'>Facebook</li>
				<li class='item-2'>Twitter</li>
				<li class='item-3'>Instagram</li>
				<li class='item-4'>Google Plus</li>
		</div>
	<div class="footer-bottom">
		<div class="footer-one">
			<div class="footer-message">Copyright © 2015 TxPrintCo. All rights reserved.</div>
		</div>
		<div class="footer-two">
			<div class="payment-options">
				<ul id='payment-options'>
					<li class='item-1'>Discover</li>
					<li class='item-2'>Visa</li>
					<li class='item-3'>American Express</li>
					<li class='item-4'>Master Card</li>
					<li class='item-5'>Paypal</li>
			</div>
		</div>
	</div>
</div>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/underscore-min.js"></script>
    <script src="/js/dependencies/backbone-min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/models/product.js"></script>
    <script src="/js/appFrame.js"></script>
    <script src="/js/product-filters.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
