<div class="row">
<div class="large-12 columns">
<ul class="design-uploader">
    <li>
        <form action="file/upload" method="post" enctype="multipart/form-data">
            <label>Please upload your design:</label>
            <input type="file" name="file"/>
            <br/>
            <br/>
            <input type="submit"/>
        </form>
    </li>
</ul>
<form id="file-uploader" action="/file/upload" class="dropzone"></form>
</div>
</div>
