<ul class="design-uploader">
    <li>
        <form action="file/upload" method="post" enctype="multipart/form-data">
            <label>Please upload your design:</label>
            <input type="file" name="design_file"/>
            <br/>
            <br/>
            <input type="submit"/>
        </form>
    </li>
</ul>
