//Import Foundation functions
@import 'foundation/foundation/functions';

//Include Hover Animations base
@import "../../bower_components/Hover/scss/options";
@import "../../bower_components/Hover/scss/mixins";
@import "../../bower_components/Hover/scss/hacks";

//Include dresired Hover Animations effects to be used as mixins.
@import "../../bower_components/Hover/scss/effects/border-transitions/ripple-out";
@import "compass/css3/images";
@import "compass/utilities/sprites";
$misc-layout: smart;
@import "misc/*.png";
@import "contact/*.png";
@import url("//fonts.googleapis.com/css?family=Roboto:400,300|Open+Sans:400,600");

.phone-contact {
  @include contact-sprite(phone,true);
  float:left;
  padding: rem-calc(16) rem-calc(78);
}
.fax-contact {
  @include contact-sprite(fax,true);
  float:left;
  padding: rem-calc(18) rem-calc(86);
}
.email-contact {
  @include contact-sprite(email,true);
  float:left;
  padding: rem-calc(16) rem-calc(85);
}
.address-contact {
  @include contact-sprite(address,true);
  float:left;
  padding: rem-calc(14) rem-calc(88);
}
.blank-text-box {
  text-indent: -9999px;
  float: left;
}
.call-us-icon {
  @include misc-sprite(call-icon, true);
  margin: 0 rem-calc(11) 0 0;
}
.discover {
  @include misc-sprite(discovercard, true);
  margin: 0 rem-calc(4) 0 0;
}
.visa {
  @include misc-sprite(visa, true);
  margin: 0 rem-calc(4) 0 0;
}
.american-express {
  @include misc-sprite(american-express, true);
  margin: 0 rem-calc(4) 0 0;
}
.mastercard {
  @include misc-sprite(mastercard, true);
  margin: 0 rem-calc(4) 0 0;
}
.paypal {
  @include misc-sprite(paypal, true);
  margin: 0 rem-calc(4) 0 0;
}
.logo a {
  display: block;
  @include misc-sprite(logo, true);
}
.lowercase {
  text-transform: lowercase;
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: lowercase;
  line-height: normal;
}
h1 {
  font-size: rem-calc(48);
}
h2 {
  font-size: rem-calc(35);
  margin-bottom: rem-calc(30);
}
h3 {
  font-size: rem-calc(27);
}
a {
  color: inherit;
  text-decoration: inherit;
}

.view-wrapper {
  padding: rem-calc(30) 0 rem-calc(10);
}

.bottom-header .main-menu a:hover,
.top-header a:hover {
  color: #f05237;
}
.header {
  width: 100%;
  .bottom-header {
    position: relative;
    //width: rem-calc(1220);
    //margin: 0 auto;
    //height: rem-calc(110);
    //.bottom-header-one {
    //  float: left;
    //}
    .bottom-header-two {
      //width: auto;
      //float: right;
      //margin: rem-calc(30) 0;
      position: static;
      .main-menu {
        position: absolute;
        bottom: 0;
        right: 0;
        ul li {
          float: left;
          margin: 0 rem-calc(10);
        }
      }
    }
  }
  .top-header {
    //width: rem-calc(1220);
    //margin: rem-calc(10) auto;
    //height: rem-calc(27);
    //border-bottom: rem-calc(1) solid #f05247;
    //padding: 0 0 rem-calc(35);
    .call-us {
      float: left;
      margin: 0 rem-calc(10);
    }
    .top-menu {
      ul li {
        float: left;
        margin: 0 rem-calc(5) 0 0;
      }
    }
    .top-header-two {
      .customer-account-icons {
        float: right;
      }
      ul li {
        float: left;
        margin: 0 0 0 rem-calc(10);
      }
    }
  }
}
.top-content {
  .featured-products {
    .product-image {
      @include ripple-out();
      &:before {

        //Smooth out circle by pushing in border 1px, to avoid edge cracks.
        top: rem-calc(1);
        left: rem-calc(1);
        bottom: rem-calc(1);
        right: rem-calc(1);

        //Use cross browser mixin later.
        border-radius: 50%;
        border-width: rem-calc(2);
      }
    }
    .item-1 {
      .product-image {

        //Start Gradient
        background: #1fbfd3;
        @include background-image(radial-gradient(ellipse at center, #78cdcf 0%,#1fbfd3 100%));

        //End Gradient
        &:before {
          border-color: #1fbfd3;
        }
      }
    }
    .item-2 {
      .product-image {

        //Start Gradient
        background: #f7961f;
        @include background-image(radial-gradient(ellipse at center, #fec247 0%,#f7961f 100%)); //End Gradient
        padding: rem-calc(39) 0;

        //End Gradient
        &:before {
          border-color: #f7961f;
        }
      }
    }
    .item-3 {
      .product-image {

        //Start Gradient
        background: #7cb138;
        @include background-image(radial-gradient(ellipse at center, #8cc53f 0%,#7cb138 100%));

        //End Gradient
        padding: rem-calc(45) 0;
        &:before {
          border-color: #7cb138;
        }
      }
    }
    .item-4 {
      .product-image {

        //Start Gradient
        background: #1e9cce;
        @include background-image(radial-gradient(ellipse at center, #00aeee 0%,#1e9cce 100%));

        //End Gradient
        padding: rem-calc(16) 0;
        &:before {
          border-color: #1e9cce;
        }
      }
    }
    .item-5 {
      .product-image {

        //Start Gradient
        background: #7d0e4d;
        @include background-image(radial-gradient(ellipse at center, #9f1f63 0%,#7d0e4d 100%));

        //End Gradient
        padding: rem-calc(19) 0;
        &:before {
          border-color: #7d0e4d;
        }
      }
    }
    .item-6 {
      .product-image {

        //Start Gradient
        background: #f3cf36;
        @include background-image(radial-gradient(ellipse at center, #f5ed32 0%,#f3cf36 100%));

        //End Gradient
        padding: rem-calc(75) 0;
        &:before {
          border-color: #f3cf36;
        }
      }
    }
    .item-7 {
      .product-image {

        //Start Gradient
        background: #282364;
        @include background-image(radial-gradient(ellipse at center, #642d8f 0%,#282364 100%));

        //End Gradient
        padding: rem-calc(16) 0;
        &:before {
          border-color: #282364;
        }
      }
    }
    .item-8 {
      .product-image {

        //Start Gradient
        background: #b71319;
        @include background-image(radial-gradient(ellipse at center, #d8565d 0%,#b71319 100%));

        //End Gradient
        padding: rem-calc(60) rem-calc(39);
        &:before {
          border-color: #b71319;
        }
      }
    }
  }
}
.top-content {
  width: 100%;
  .featured-products {
    width: rem-calc(1220);
    margin: 0 auto;
    h2 {
      text-align: center;
    }
    ul li {
      width: 25%;
      float: left;
      text-align: center;
      cursor: pointer;
      .product-image {
        display: inline-block;
        border-radius: 50%;
        padding: rem-calc(55) 0;
        width: rem-calc(220);
        margin: 0 auto;
        height: rem-calc(220);
      }
      .product-name {
        margin: rem-calc(17) 0;
        font-size: rem-calc(20);
      }
      &:hover .product-image:before,
      &:hover .product-image:before,
      &:hover .product-image:before {
        @include prefixed(animation-name, #{$nameSpace}-ripple-out);
      }
    }
  }
}

.content-body {
    margin: rem-calc(10) 0 0;
}

.middle-content {

  //Start Gradient
  background: #7c0d4c;
  @include background-image(linear-gradient(to right, #7c0d4c 0%, #9d1e62 50%, #7c0d4c 100%));

  //End Gradient
  width: 100%;
  float: left;
  padding: rem-calc(7) 0;
  .middle-content-container {
    width: rem-calc(960);
    margin: 0 auto;
    padding: rem-calc(10);
    ul {
      margin: rem-calc(12) rem-calc(90);
    }
    ul li {
      list-style: disc inside none;
      color: #fff;
    }
    h2,
    h3 {
      color: #fff;
      text-align: center;
    }
    .middle-content-one {
      border-right: rem-calc(1) solid #fff;
      .sub-header {
        text-align: center;
        color: #ed3293;
        font-size: rem-calc(20);
      }
    }
    .block {
      float: left;
      width: 50%;
      padding: 0 rem-calc(25) rem-calc(80);
      margin: rem-calc(25) 0;
      position: relative;
      .flat-button {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background: #fff;
        color: #ec008c;
        padding: rem-calc(10);
        text-align: center;
        border-radius: rem-calc(3);
        margin: 0 rem-calc(90);
      }
    }
  }
}
.footer a:hover {
  color: #fff;
}
.footer {
  float: left;
  width: 100%;
  background: #414042;
  .menu {
    //float: left;
    //width: 25%;
    padding: rem-calc(10);
    border-right: rem-calc(1) solid #eaeaea;
    margin: rem-calc(10) 0 rem-calc(20);
    ul li {
      color: #dcdcdc;
      font-size: rem-calc(14);
    }
  }
  h5 {
    font-size: rem-calc(22);
    margin: 0 0 rem-calc(10);
  }
  .footer-one {
    h5 {
      color: #ee2a7b;
    }
  }
  .footer-two {
    h5 {
      color: #f7941e;
    }
  }
  .footer-three {
    h5 {
      color: #8dc63f;
    }
  }
  .footer-four {
    border-right: none;
    h5 {
      color: #00aeef;
    }
  }
}
.footer-bottom {
  background: #232323;
  width: 100%;
  color: #fff;
  float: left;
  padding: rem-calc(10) 0;
  .footer-one {
    float: left;
    width: 50%;
    margin: rem-calc(17) 0;
    .footer-message {
      font-size: rem-calc(12);
      padding: 0 rem-calc(10);
    }
  }
  .footer-two {
    float: left;
    width: 50%;
    .payment-options {
      float: right;
      margin: 0 rem-calc(5);
      li {
        float: left;
      }
    }
  }
}
.contact-us-page {
  width: 100%;
  .header-title-wrapper {
    width: 100%;
    background: #000;
    .header-title {
      width: rem-calc(1220);
      margin: 0 auto;
      padding: rem-calc(20) 0;
      color: #fff;
    }
  }
  .contact-info-wrapper {
    background: #75BA46;
    height: rem-calc(100);
    padding: rem-calc(18) 0;
    .contact-info {
      width: rem-calc(1220);
      margin: 0 auto;
      ul li {
        float: left;
        width: 25%;
        color: #fff;
        font-size: rem-calc(20);
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        text-transform: lowercase;
      }
      .address-contact {
        font-size: rem-calc(14);
      }
    }
  }
  .form-header {
    text-align: center;
    font-size: rem-calc(40);
    margin: rem-calc(25) 0 rem-calc(10);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
}


.contact-forms {
  width: rem-calc(1220);
  margin: 0 auto;
  input {
  width: 50%;
  display: block;
  margin: rem-calc(12) auto;
  padding: rem-calc(14);
  border-radius: rem-calc(4);
  background: #eaeaea;
  border: none;
  }
  .submit-button {
    text-align: Center;
    width: 52%;
    margin: 0 auto;
    background: #ee237c;
    padding: rem-calc(13);
    border-radius: rem-calc(3);
    color: #fff;
  }
  .contact-form-buttons {
    text-align: center;
    p {
        display: inline-block;
        font-size: rem-calc(35);
      }
    .get-in-touch, .order-issue {
      display: inline-block;
      background: #2d2d2d;
      padding: rem-calc(16) rem-calc(54);
      color: #fff;
      border-radius: rem-calc(3);
      margin: rem-calc(10);
      font-size: rem-calc(25);
    }
  }
}

//Template page
a.template-link {
  display: block;
  background: #535fa6;
  color: #fff;
  padding: 10px;
  margin: 0 0 5px;
  border-radius: 5px;

  &:hover {
    background: #FFC047;
    color: #3A3120;
  }
}

.clear-fix {
  clear: both;
}
