//Include Hover Animations base
@import "../../bower_components/Hover/scss/options";
@import "../../bower_components/Hover/scss/mixins";
@import "../../bower_components/Hover/scss/hacks";

//Include dresired Hover Animations effects to be used as mixins.
@import "../../bower_components/Hover/scss/effects/border-transitions/ripple-out";
@import "compass/css3/images";
@import "compass/utilities/sprites";
$misc-layout: smart;
@import "misc/*.png";
@import "contact/*.png";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300|Open+Sans:400,600);

.row {
    max-width: 1220px;
}

.phone-contact {
  @include contact-sprite(phone,true);
  float:left;
  padding: 16px 78px;
}
.fax-contact {
  @include contact-sprite(fax,true);
  float:left;
  padding: 18px 86px;
}
.email-contact {
  @include contact-sprite(email,true);
  float:left;
  padding: 16px 85px;
}
.address-contact {
  @include contact-sprite(address,true);
  float:left;
  padding: 14px 88px;
}
.call-us-icon {
  @include misc-sprite(call-icon, true);
  text-indent: -9999px;
  float: left;
  margin: 0 11px 0 0;
}
.discover {
  @include misc-sprite(discovercard, true);
  text-indent: -9999px;
  float: left;
  margin: 0 4px 0 0;
}
.visa {
  @include misc-sprite(visa, true);
  text-indent: -9999px;
  float: left;
  margin: 0 4px 0 0;
}
.american-express {
  @include misc-sprite(american-express, true);
  text-indent: -9999px;
  float: left;
  margin: 0 4px 0 0;
}
.mastercard {
  @include misc-sprite(mastercard, true);
  text-indent: -9999px;
  float: left;
  margin: 0 4px 0 0;
}
.paypal {
  @include misc-sprite(paypal, true);
  text-indent: -9999px;
  float: left;
  margin: 0 4px 0 0;
}
.logo a {
  display: block;
  text-indent: -9999px;
  @include misc-sprite(logo, true);
}
.lowercase {
  text-transform: lowercase;
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: lowercase;
  line-height: normal;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
h3 {
  font-size: 27px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.bottom-header .main-menu a:hover,
.top-header a:hover {
  color: #f05237;
}
.header {
  width: 100%;
  .bottom-header {
    position: relative;
    //width: 1220px;
    //margin: 0 auto;
    //height: 110px;
    //.bottom-header-one {
    //  float: left;
    //}
    .bottom-header-two {
      //width: auto;
      //float: right;
      //margin: 30px 0;
      position: static;
      .main-menu {
        position: absolute;
        bottom: 0;
        right: 0;
        ul li {
          float: left;
          margin: 0 10px;
        }
      }
    }
  }
  .top-header {
    //width: 1220px;
    //margin: 10px auto;
    //height: 27px;
    //border-bottom: 1px solid #f05247;
    //padding: 0 0 35px;
    .call-us {
      float: left;
      margin: 0 10px;
    }
    .top-menu {
      ul li {
        float: left;
        margin: 0 5px 0 0;
      }
    }
    .top-header-two {
      .customer-account-icons {
        float: right;
      }
      ul li {
        float: left;
        margin: 0 0 0 10px;
      }
    }
  }
}
.top-content {
  .featured-products {
    .product-image {
      @include ripple-out();
      &:before {

        //Smooth out circle by pushing in border 1px, to avoid edge cracks.
        top: 1px;
        left: 1px;
        bottom: 1px;
        right: 1px;

        //Use cross browser mixin later.
        border-radius: 50%;
        border-width: 2px;
      }
    }
    .item-1 {
      .product-image {

        //Start Gradient
        background: #1fbfd3;
        @include background-image(radial-gradient(ellipse at center, #78cdcf 0%,#1fbfd3 100%));

        //End Gradient
        &:before {
          border-color: #1fbfd3;
        }
      }
    }
    .item-2 {
      .product-image {

        //Start Gradient
        background: #f7961f;
        @include background-image(radial-gradient(ellipse at center, #fec247 0%,#f7961f 100%)); //End Gradient
        padding: 39px 0;

        //End Gradient
        &:before {
          border-color: #f7961f;
        }
      }
    }
    .item-3 {
      .product-image {

        //Start Gradient
        background: #7cb138;
        @include background-image(radial-gradient(ellipse at center, #8cc53f 0%,#7cb138 100%));

        //End Gradient
        padding: 45px 0;
        &:before {
          border-color: #7cb138;
        }
      }
    }
    .item-4 {
      .product-image {

        //Start Gradient
        background: #1e9cce;
        @include background-image(radial-gradient(ellipse at center, #00aeee 0%,#1e9cce 100%));

        //End Gradient
        padding: 16px 0;
        &:before {
          border-color: #1e9cce;
        }
      }
    }
    .item-5 {
      .product-image {

        //Start Gradient
        background: #7d0e4d;
        @include background-image(radial-gradient(ellipse at center, #9f1f63 0%,#7d0e4d 100%));

        //End Gradient
        padding: 19px 0;
        &:before {
          border-color: #7d0e4d;
        }
      }
    }
    .item-6 {
      .product-image {

        //Start Gradient
        background: #f3cf36;
        @include background-image(radial-gradient(ellipse at center, #f5ed32 0%,#f3cf36 100%));

        //End Gradient
        padding: 75px 0;
        &:before {
          border-color: #f3cf36;
        }
      }
    }
    .item-7 {
      .product-image {

        //Start Gradient
        background: #282364;
        @include background-image(radial-gradient(ellipse at center, #642d8f 0%,#282364 100%));

        //End Gradient
        padding: 16px 0;
        &:before {
          border-color: #282364;
        }
      }
    }
    .item-8 {
      .product-image {

        //Start Gradient
        background: #b71319;
        @include background-image(radial-gradient(ellipse at center, #d8565d 0%,#b71319 100%));

        //End Gradient
        padding: 60px 39px;
        &:before {
          border-color: #b71319;
        }
      }
    }
  }
}
.top-content {
  width: 100%;
  .featured-products {
    width: 1220px;
    margin: 0 auto;
    h2 {
      text-align: center;
    }
    ul li {
      width: 25%;
      float: left;
      text-align: center;
      cursor: pointer;
      .product-image {
        display: inline-block;
        border-radius: 50%;
        padding: 55px 0;
        width: 220px;
        margin: 0 auto;
        height: 220px;
      }
      .product-name {
        margin: 17px 0;
        font-size: 20px;
      }
      &:hover .product-image:before,
      &:hover .product-image:before,
      &:hover .product-image:before {
        @include prefixed(animation-name, #{$nameSpace}-ripple-out);
      }
    }
  }
}

.content-body {
    margin: 10px 0 0;
}

.middle-content {

  //Start Gradient
  background: #7c0d4c;
  @include background-image(linear-gradient(to right, #7c0d4c 0%, #9d1e62 50%, #7c0d4c 100%));

  //End Gradient
  width: 100%;
  float: left;
  padding: 7px 0;
  .middle-content-container {
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    ul {
      margin: 12px 90px;
    }
    ul li {
      list-style: disc inside none;
      color: #fff;
    }
    h2,
    h3 {
      color: #fff;
      text-align: center;
    }
    .middle-content-one {
      border-right: 1px solid #fff;
      .sub-header {
        text-align: center;
        color: #ed3293;
        font-size: 20px;
      }
    }
    .block {
      float: left;
      width: 50%;
      padding: 0 25px 80px;
      margin: 25px 0;
      position: relative;
      .flat-button {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background: #fff;
        color: #ec008c;
        padding: 10px;
        text-align: center;
        border-radius: 3px;
        margin: 0 90px;
      }
    }
  }
}
.footer a:hover {
  color: #fff;
}
.footer {
  float: left;
  width: 100%;
  background: #414042;
  .menu {
    //float: left;
    //width: 25%;
    padding: 10px;
    border-right: 1px solid #eaeaea;
    margin: 10px 0 20px;
    ul li {
      color: #dcdcdc;
      font-size: 14px;
    }
  }
  h5 {
    font-size: 22px;
    margin: 0 0 10px;
  }
  .footer-one {
    h5 {
      color: #ee2a7b;
    }
  }
  .footer-two {
    h5 {
      color: #f7941e;
    }
  }
  .footer-three {
    h5 {
      color: #8dc63f;
    }
  }
  .footer-four {
    border-right: none;
    h5 {
      color: #00aeef;
    }
  }
}
.footer-bottom {
  background: #232323;
  width: 100%;
  color: #fff;
  float: left;
  padding: 10px 0;
  .footer-one {
    float: left;
    width: 50%;
    margin: 17px 0;
    .footer-message {
      font-size: 12px;
      padding: 0 10px;
    }
  }
  .footer-two {
    float: left;
    width: 50%;
    .payment-options {
      float: right;
      margin: 0 5px;
      li {
        float: left;
      }
    }
  }
}
.contact-us-page {
  width: 100%;
  .header-title-wrapper {
    width: 100%;
    background: #000;
    .header-title {
      width: 1220px;
      margin: 0 auto;
      padding: 20px 0;
      color: #fff;
    }
  }
  .contact-info-wrapper {
    background: #75BA46;
    height: 100px;
    padding: 18px 0;
    .contact-info {
      width: 1220px;
      margin: 0 auto;
      ul li {
        float: left;
        width: 25%;
        color: #fff;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        text-transform: lowercase;
      }
      .address-contact {
        font-size: 14px;
      }
    }
  }
  .form-header {
    text-align: center;
    font-size: 40px;
    margin: 25px 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
}


.contact-forms {
  width: 1220px;
  margin: 0 auto;
  input {
  width: 50%;
  display: block;
  margin: 12px auto;
  padding: 14px;
  border-radius: 4px;
  background: #eaeaea;
  border: none;
  }
  .submit-button {
    text-align: Center;
    width: 52%;
    margin: 0 auto;
    background: #ee237c;
    padding: 13px;
    border-radius: 3px;
    color: #fff;
  }
  .contact-form-buttons {
    text-align: center;
    p {
        display: inline-block;
        font-size: 35px;
      }
    .get-in-touch, .order-issue {
      display: inline-block;
      background: #2d2d2d;
      padding: 16px 54px;
      color: #fff;
      border-radius: 3px;
      margin: 10px;
      font-size: 25px;
    }
  }
}

.clear-fix {
  clear: both;
}
