@import "compass/css3/images";
@import "compass/utilities/sprites";
@import "misc/*.png";

@import url(http://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,300,700);

.product-data .multipleResultChild {
  color: #002FFD;
  cursor: pointer;
}

.call-us-icon {
  @include misc-sprite(call-icon, true);
  text-indent: -9999px;
  float: left;
  margin: 0 4px 0 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 20px;
}

.middle-content {
	padding: 10px;
  //Start Gradient
  background: #7c0d4c;
  @include background-image(linear-gradient(#7c0d4c 0%, #9d1e62 50%, #7c0d4c 100%));
  //End Gradient
  float: left;
  width: 100%;
  color: #fff;
    h2, h3 {
    	text-align: center;
    }
    .block {
    	float: left;
 		  width: 50%;
 		   	.need-help-designing, .take-me-to-the-designs {
 		   		text-align: center;
	 		   }
    }
}

.footer {
  float: left;
  width: 100%;
	background: #414042;
  padding: 10px;
        .menu {
    		float: left;
    		width: 25%;
        li {
          color: #fff;
            }
    			#customer-support-menu {
    			h5 {
    					color: #EE2A7B;
    				}
    			}
    			#about-txprintco-menu {
					h5 {
    					color: #F7941E;
    				}
    			}
    			#legal-stuff-menu {
    				h5 {
    					color: #8DC63F;
    				}
    			}
    			#social-media-icons {
    				h5 {
    					color: #00AEEF;
    				}
    			}
    		}
    	}
.footer-bottom {
	background: #414042;
  width: 100%;
  color: #fff;
  float: left;
  .footer-one {
    float: left;
    width: 50%;
  }
  .footer-two {
    float: left;
    width: 50%;
    #payment-options {
      li {
        float: left;
      }
    }
  }
}
