//Import Foundation functions
@import 'foundation/foundation/functions';

.product-data .multipleResultChild {
  color: #002ffd;
  cursor: pointer;
}

.order-pane {
  display: block;
}

.order-now {
  display: block;
  margin: rem-calc(20) 0;
}

.order-slide {
  display: none;
}

.order-form {
  display: none;
}

input.streetNameLine1 {
      margin: 0 0 1rem 0;
}

.product-view-wrapper {
  background: #85c441;

  div {
    color: #293C21;
  }

  select {
    color: #000;
  }

  h1, h2, label {
    color: #fff;
  }
}

.product-header {
  position: relative;

  .product-title {
    margin: 0 rem-calc(50);
    background: #85c441;
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 rem-calc(12);
  }

  .line-thru {
    background: #fff;
    height: rem-calc(3);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
