.product-data .multipleResultChild {
  color: #002ffd;
  cursor: pointer;
}

.order-pane {
  display: none;
}

.order-now {
  margin: 20px 0
}

.order-form {
  display: none;
}

input.streetNameLine1 {
      margin: 0 0 1rem 0;
}
