@import "../../bower_components/Hover/scss/options";
@import "../../bower_components/Hover/scss/mixins";

$screen-width: 1220px;
$slideshow-height: 280px;
$slideshow-padding-top: 20px;
$slideshow-padding-bottom: 40px;
$slideshow-height-outer: $slideshow-height + $slideshow-padding-top + $slideshow-padding-bottom; //Slideshow height + 60px;

$slideshow-slide-heading-color: #FFF;
$slideshow-slide-paragraph-color: #FFCF5D;

@include keyframes(slideshow-slide-up) {
	100% {
		top: -$slideshow-height-outer;
	}
}

.slideshow {
  position: relative;
  float: left;
  width: 100%;
  height: $slideshow-height-outer;
  overflow: hidden;
  .menu {
    width: $screen-width;
    margin: 0 auto;

    ul {
      position: absolute;
      bottom: 11px;
      color: #fff;

      li {
        font-size: 14pt;
        border-bottom: 2px solid #fff;
        padding: 4px 10px;
        float: left;
        margin-right: 20px;
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }

  .slide {
    float: left;
    width: 100%;
    padding: $slideshow-padding-top 0 $slideshow-padding-bottom;
    h2 {
      color: $slideshow-slide-heading-color;
      font-size: 40pt;
    }
    p {
      color: $slideshow-slide-paragraph-color;
      font-size: 16pt;
    }
    .slide-inner {
      width: $screen-width;
      margin: 0 auto;
      .region {
        float: left;
        height: $slideshow-height;
        overflow: hidden;
      }
      .region-left {
        width: 35%;
        display: table;
        .slide-image {
          text-align: center;
          display: table-cell;
          vertical-align: middle;
        }
      }
      .region-right {
        position: relative;
        width: 65%;

        a {
          position: absolute;
          bottom: 0;
          color: #fff;
          font-size: 35pt;
          background: #f7941d;
          padding: 12px 90px;
          border-radius: 10px;
        }
      }
    }
  }
}

.region-right, .menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: lowercase;
}

.slideshow {
  .slide-1 {
    background: #198899;
  }
  .slide {
    display: none;
    background: #198899;
    position: relative;
    @include prefixed(animation-duration, 1s);
    top: 0;
  }
  .active-slide {
    display: block;
  }
  .shifted-slide {
    @include prefixed(animation-name, slideshow-slide-up);
  }
}
