$screen-width: 1220px;
$slideshow-height: 280px;
.slideshow {
  clear: both;
  .slide {
    float: left;
    width: 100%;
    padding: 20px 0 40px;
    h2 {
      color: #fff;
      font-size: 40pt;
    }
    p {
      color: #FFCF5D;
      font-size: 16pt;
    }
    .slide-inner {
      width: $screen-width;
      margin: 0 auto;
      .region {
        float: left;
        height: $slideshow-height;
        overflow: hidden;
      }
      .region-left {
        width: 35%;
        display: table;
        .slide-image {
          text-align: center;
          display: table-cell;
          vertical-align: middle;
        }
      }
      .region-right {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        text-transform: lowercase;
        position: relative;
        width: 65%;

        a {
          position: absolute;
          bottom: 0;
          color: #fff;
          font-size: 35pt;
          background: #f7941d;
          padding: 12px 90px;
          border-radius: 10px;
        }
      }
    }
  }
}

.slideshow {
  .slide-1 {
    background: #198899;
  }
}
