//Import Foundation functions
@import 'foundation/foundation/functions';

@import "../../bower_components/Hover/scss/options";
@import "../../bower_components/Hover/scss/mixins";

@import "compass/css3/images";

$screen-width: rem-calc(1220);
$slideshow-height: rem-calc(300);
$slideshow-padding-top: rem-calc(20);
$slideshow-padding-bottom: rem-calc(60);
$slideshow-height-outer: $slideshow-height + $slideshow-padding-top + $slideshow-padding-bottom; //Slideshow height + 60px;

$slideshow-slide-left-region-width: 50%;
$slideshow-slide-right-region-width: 50%;

$slideshow-slide-heading-color: #FFF;
$slideshow-slide-paragraph-color: #FFCF5D;

@include keyframes(slideshow-slide-up) {
	100% {
		top: -$slideshow-height-outer;
	}
	0% {
		top: 0;
	}
}

.slideshow {
  position: relative;
  float: left;
  width: 100%;
  height: $slideshow-height-outer;
  overflow: hidden;
	margin: 0 0 rem-calc(25);
  .menu {
    width: $screen-width;
    margin: 0 auto;

    ul {
      position: absolute;
      bottom: rem-calc(11);

      li {
        float: left;
        margin-right: rem-calc(20);
      }

			li a {
				display: block;
				font-size: 13pt;
        border-bottom: rem-calc(2) solid #fff;
        padding: rem-calc(4) rem-calc(10);
				color: #fff;
			}

      li:last-child {
        margin-right: 0;
      }
    }
  }

  .slide {
    float: left;
    width: 100%;
    padding: $slideshow-padding-top 0 $slideshow-padding-bottom;
    h2 {
      color: $slideshow-slide-heading-color;
      font-size: 40pt;
    }
    p {
      color: $slideshow-slide-paragraph-color;
      font-size: 16pt;
    }
    .slide-inner {
      width: $screen-width;
      margin: 0 auto;
      .region {
        float: left;
        height: $slideshow-height;
        overflow: hidden;
      }
      .region-left {
        width: 50%;
        display: table;
        .slide-image {
          text-align: center;
          display: table-cell;
          vertical-align: middle;
        }
      }
      .region-right {
        position: relative;
        width: 50%;

        a {
          position: absolute;
          bottom: rem-calc(25);
          color: #fff;
          font-size: 35pt;
          background: #f7941d;
          padding: rem-calc(12) rem-calc(90);
          border-radius: rem-calc(10);
        }
      }
    }
  }

	.region-right, .menu {
	  font-family: 'Roboto', sans-serif;
	  font-weight: 100;
	  text-transform: lowercase;
	}

	.slide {
    display: none;
    background: #198899;
    position: relative;
    @include prefixed(animation-duration, 1s);
    top: 0;
  }
  .active-slide {
    display: block;
  }
  .shifted-slide {
    @include prefixed(animation-name, slideshow-slide-up);
  }
}

//Background Colors
.slideshow {
	.slide-1 {
		@include background-image(linear-gradient(to right, #166c84 0%,#198899 50%,#166c84 100%));
  }
	.slide-2 {
		@include background-image(linear-gradient(to right, #7c0d4c 0%, #9d1e62 50%, #7c0d4c 100%));
	}
	.slide-3 {
		@include background-image(linear-gradient(to right, #5e1011 0%,#ad1f21 50%,#5e1011 100%));
	}
	.slide-4 {
		@include background-image(linear-gradient(to right, #f7960f 0%,#f4ab4b 50%,#f7960f 100%));
	}
	.slide-5 {
		@include background-image(linear-gradient(to right, #74af15 0%,#92db5e 50%,#72af0f 100%));
	}
	.slide-6 {
		@include background-image(linear-gradient(to right, #282364 0%,#3d4daa 50%,#282364 100%));
	}
	.slide-7 {
		@include background-image(linear-gradient(to right, #ed1572 0%,#f925c1 50%,#ed1572 100%));
	}
	.slide-8 {
		@include background-image(linear-gradient(to right, #17599b 0%,#1e9cce 50%,#17599b 100%));
	}
}

//Border Colors
.slideshow {
	ul li {
		a {
			&:hover {
					border-color: #1fbfd3;
				}
		}

		a.slide-button-1 {
			&:hover {
					border-color: #1fbfd3;
				}
		}

		a.slide-button-2 {
			&:hover {
					border-color: #f7961f;
				}
		}

		a.slide-button-3 {
			&:hover {
					border-color: #7cb138;
				}
		}

		a.slide-button-4 {
			&:hover {
					border-color: #1e9cce;
				}
		}

		a.slide-button-5 {
			&:hover {
					border-color: #7d0e4d;
				}
		}
	}
}
