@import "../../bower_components/Hover/scss/options";
@import "../../bower_components/Hover/scss/mixins";

@import "compass/css3/images";

$screen-width: 1220px;
$slideshow-height: 300px;
$slideshow-padding-top: 20px;
$slideshow-padding-bottom: 40px;
$slideshow-height-outer: $slideshow-height + $slideshow-padding-top + $slideshow-padding-bottom; //Slideshow height + 60px;

$slideshow-slide-left-region-width: 50%;
$slideshow-slide-right-region-width: 50%;

$slideshow-slide-heading-color: #FFF;
$slideshow-slide-paragraph-color: #FFCF5D;

@include keyframes(slideshow-slide-up) {
	100% {
		top: -$slideshow-height-outer;
	}
}

.slideshow {
  position: relative;
  float: left;
  width: 100%;
  height: $slideshow-height-outer;
  overflow: hidden;
	margin: 0 0 25px;
  .menu {
    width: $screen-width;
    margin: 0 auto;

    ul {
      position: absolute;
      bottom: 11px;
      color: #fff;

      li {
        float: left;
        margin-right: 20px;
      }

			li a {
				display: block;
				font-size: 13pt;
        border-bottom: 2px solid #fff;
        padding: 4px 10px;
			}

      li:last-child {
        margin-right: 0;
      }
    }
  }

  .slide {
    float: left;
    width: 100%;
    padding: $slideshow-padding-top 0 $slideshow-padding-bottom;
    h2 {
      color: $slideshow-slide-heading-color;
      font-size: 40pt;
    }
    p {
      color: $slideshow-slide-paragraph-color;
      font-size: 16pt;
    }
    .slide-inner {
      width: $screen-width;
      margin: 0 auto;
      .region {
        float: left;
        height: $slideshow-height;
        overflow: hidden;
      }
      .region-left {
        width: 50%;
        display: table;
        .slide-image {
          text-align: center;
          display: table-cell;
          vertical-align: middle;
        }
      }
      .region-right {
        position: relative;
        width: 50%;

        a {
          position: absolute;
          bottom: 25px;
          color: #fff;
          font-size: 35pt;
          background: #f7941d;
          padding: 12px 90px;
          border-radius: 10px;
        }
      }
    }
  }

	.region-right, .menu {
	  font-family: 'Roboto', sans-serif;
	  font-weight: 100;
	  text-transform: lowercase;
	}

	.slide {
    display: none;
    background: #198899;
    position: relative;
    @include prefixed(animation-duration, 1s);
    top: 0;
  }
  .active-slide {
    display: block;
  }
  .shifted-slide {
    @include prefixed(animation-name, slideshow-slide-up);
  }
}

//Background Colors
.slideshow {
	.slide-1 {
		@include background-image(linear-gradient(to right, #166c84 0%,#198899 50%,#166c84 100%));
  }
	.slide-2 {
		@include background-image(linear-gradient(to right, #7c0d4c 0%, #9d1e62 50%, #7c0d4c 100%));
	}
}
