		<div class="slideshow"></div>
		<div class="top-content">
			<div class='featured-products'>
				<h2 class='header-title'>featured products</h2>
					<ul id='featured-products-items'>
						<li class='item-1'>business cards</li>
						<li class='item-2'>flyers & brochures</li>
						<li class='item-3'>posters</li>
						<li class='item-4'>stand-Up banners</li>
						<li class='item-5'>postcards</li>
						<li class='item-6'>stickers</li>
						<li class='item-7'>presentation folders</li>
						<li class='item-8'>plastic cards</li>
					</ul>
			</div>
		</div>
		<div class="middle-content">
			<div class='middle-content-container'>
				<div class='need-help-designing'>
					<h2 class='header-title'>need help designing?</h2>
						<div class="middle-content-one block">
							<h3 class='header-title'>designing your own?</h3>
							<p class='sub-header'>read our guide for aspiring designers.</p>
							<div class="inside-body">
							<ul id='body'>
								<li class='item-1'>tools for designing</li>
								<li class='item-2'>do's and dont's of designing</li>
								<li class='item-3'>where to start</li>
							</ul>
							<div class='middle-content-buttons'>learn how to design</div>
						</div>
						</div>
						<div class="middle-content-two block">
							<h3 class='header-title'>choose from our ready made vector templates.</h3>
							<div class="inside-body">
							<ul id='body'>
								<li class='item-1'>choose a design</li>
								<li class='item-2'>download</li>
								<li class='item-3'>edit information as needed</li>
							</ul>
							<div class='middle-content-buttons'>take me to the designs</div>
						</div>
						</div>
					</div>
				</div>
			</div>
