<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
</head>

<body class="html front logged-in">
	<div class="page">
		<div class="top-header">
			<div class="top-header-one">
				<div class='call-us-icon'><img src="call-icon.png" alt="call-icon" id="call-icon"></div><div class="call-us"><Call 1.555.555.5555</div>
				<div class='top-menu' id='top-menu'>
					<ul id='top-menu-items'>
						<li id='templates'>templates</li>
						<li id='faq'>faq</li>
						<li id='contact'>contact</li>
					</ul>
				</div>
			</div>
			<div class="top-header-one">
				<div class='customer-account-icons'>
				</div>
			</div>
		</div>
		<div class="header"></div>
			<div class="logo">
				<a href="/" rel="home">
					<img src="txprintco-logo.png" alt="logo" id="logo"></div>
				</a>
			<div class="menu">
				<ul id='main-menu'>
					<li id='item-1'>All Products</li>
					<li id='item-2'>Marketing Materials</li>
					<li id='item-3'>Signs & Posters</li>
					<li id='item-4'>Stationary</li>
				</ul>
			</div>
		<div class="slideshow"></div>
		<div class="top-content">
			<div class='featured-products'>
				<h2 class='header-title'>Featured Products</h2>
					<ul id='featured-products-items'>
						<li class='item-1'>Business Cards</li>
						<li class='item-2'>Flyers & Brochures</li>
						<li class='item-3'>Posters</li>
						<li class='item-4'>Stand-Up Banners</li>
						<li class='item-5'>Postcards</li>
						<li class='item-6'>Stickers</li>
						<li class='item-7'>Presentation Folders</li>
						<li class='item-8'>Plastic Cards</li>
					</ul>
			</div>
		</div>
		<div class="middle-content">
			<div class='need-help-designing'>
				<h2 class='header-title'>Need Help Designing?</h2>
					<div class="middle-content-one block">
						<h3 class='header-title'>Designing your own?</h3>
						<p class='sub-header'>Read our guide for aspiring designers.</p>
						<ul id='body'>
							<li class='item-1'>Tools for Designing</li>
							<li class='item-2'>Do's and Dont's of Designing</li>
							<li class='item-3'>Where to Start</li>
						</ul>
						<div class='learn-how-to-design'>Learn how to design</div>
					</div>
					<div class="middle-content-two block">
						<h3 class='header-title'>Choose from our ready made vector templates.</h3>
						<ul id='body'>
							<li class='item-1'>Choose a design</li>
							<li class='item-2'>Download</li>
							<li class='item-3'>Edit information as needed</li>
						</ul>
						<div class='take-me-to-the-designs'>Take me to the designs</div>
					</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-one"></div>
				<ul id='customer-support-menu menu'>
					<h5>Customer Support</h5>
					<li class='item-1'>Track your order</li>
					<li class='item-2'>Returns</li>
					<li class='item-3'>Shipping & Delivery</li>
					<li class='item-4'>Contact Us</li>
					<li class='item-5'>Sitemap</li>
				</ul>
			<div class="footer-two"></div>
				<ul id='about-txprintco-menu menu'>
					<h5>About TxPrintCo</h5>
					<li class='item-1'>About</li>
					<li class='item-2'>Faqs</li>
					<li class='item-3'>Templates</li>
					<li class='item-4'>Blog</li>
				</ul>
			<div class="footer-three"></div>
				<ul id='legal-stuff-menu menu'>
					<h5>Legal Stuff</h5>
					<li class='item-1'>Privacy Policy</li>
					<li class='item-2'>Terms and Conditions</li>
				</ul>
			<div class="footer-four"></div>
				<ul id='social-media-icons'>
					<h5>Social Media</h5>
					<li class='item-1'>Facebook</li>
					<li class='item-2'>Twitter</li>
					<li class='item-3'>Instagram</li>
					<li class='item-4'>Google Plus</li>
			</div>
		<div class="footer-bottom">
			<div class="footer-one"></div>
				<div class="footer-message">Copyright © 2015 TxPrintCo. All rights reserved.</div>
			<div class="footer-two"></div>
				<div class="payment-options">
					<ul id='payment-options'>
						<li class='item-1'>Discover</li>
						<li class='item-2'>Visa</li>
						<li class='item-3'>American Express</li>
						<li class='item-4'>Master Card</li>
						<li class='item-5'>Paypal</li>
				</div>
		</div>
	</div>
</body>

</html>
