<div class="slideshow"></div>
<div class="top-content">
	<div class='featured-products'>
		<h2 class='header-title'>Featured Products</h2>
			<ul id='featured-products-items'>
				<li class='item-1'>Business Cards</li>
				<li class='item-2'>Flyers &amp; Brochures</li>
				<li class='item-3'>Posters</li>
				<li class='item-4'>Stand-Up Banners</li>
				<li class='item-5'>Postcards</li>
				<li class='item-6'>Stickers</li>
				<li class='item-7'>Presentation Folders</li>
				<li class='item-8'>Plastic Cards</li>
			</ul>
	</div>
</div>
<div class="middle-content">
	<div class='middle-content-container'>
		<div class='need-help-designing'>
			<h2 class='header-title'>Need help designing?</h2>
				<div class="middle-content-one block">
					<h3 class='header-title'>Designing your own?</h3>
					<p class='sub-header'>Read our guide for aspiring designers.</p>
					<ul>
						<li class='item-1'>Tools for designing</li>
						<li class='item-2'>Do's and Dont's of designing</li>
						<li class='item-3'>Where to start</li>
					</ul>
					<div class="flat-button">Learn how to design</div>
				</div>
				<div class="middle-content-two block">
					<h3 class='header-title'>Choose from our ready made vector templates.</h3>
					<ul>
						<li class='item-1'>Choose a design</li>
						<li class='item-2'>Download</li>
						<li class='item-3'>Edit information as needed</li>
					</ul>
					<div class="flat-button">Take me to the designs</div>
				</div>
			</div>
		</div>
</div>
